
@{
    ViewBag.Title = "Login";
}

<form>
    <fieldset>
        <div class="form-group">
            <div class="label">
                <p>Username:</p>
            </div>

            <input type="text" name="username"><br>

        </div>
        <div class="form-group">
            <div class="label">
                <p>Password:</p>
            </div>
            <input type="text" name="Password:"><br>
            >
        </div>
        <div class="form-group">

            <input type="submit" value="Login"><br />

        </div>
    </fieldset>
</form>

